---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications-root
  namespace: openshift-gitops
spec:
  destination:
    namespace: openshift-gitops
    server: https://kubernetes.default.svc
  project: applications
  source:
    path: applications-nonprod
    repoURL: ""
    targetRevision: main
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
    automated:
      prune: true
      selfHeal: true
