---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

patches:
  # Patch the application resource so it points to the correct location in the
  # application deployment repo.
  # The example below if the path but it could be something else like branch, tag etc
  - target:
      kind: Application
    patch: |-
      - op: replace
        path: /spec/source/path
        value: CLUSTER-PATH
