# As the promotion process is a pull operation, "source" references the environment 
# and repo that the changes are being promoted from.

SOURCE_GIT_URL=""
SOURCE_ENV=prod

CURRENT_ENV=nonprod

# If AUTOPATCH is not set to "yes" then a diff file will be created but not applied
AUTOPATCH=yes
EXCLUDED_FILES=":(exclude)environments/* \
:(exclude).git \
:(exclude)git-diff.config \
:(exclude)diff.patch"
